// Fonts
$site-heading: 'Baloo Da', cursive
$heading: 'Lato', sans-serif
$body: 'Open Sans', sans-serif


// Colors
$white: #F7F7F7
$black: #222
$softblack: #444
$lightgrey: #EEE
$softgrey: #BBB
$grey: #777


$primary: #3F8FDD
$primary-grey: #5f7d9a
$primary-softgrey: #adbecf
$primary-lightgrey: #eaeff3
$primary-white: #f5f7f9

$accent: #33DFA2
$accent-grey: #5b9b84
$accent-white: #f5f9f8