// Fonts
$site-heading: 'Baloo Da', cursive
$heading: 'Lato', sans-serif
$body: 'Open Sans', sans-serif


// Colors
$white: #F7F7F7
$black: #222
$softblack: #444
$lightgrey: #EEE
$softgrey: #BBB
$grey: #777