// Events Section Styles
.events
    // Spacing
    margin-left: 8px
    margin-right: 8px
    padding-top: 64px
    padding-bottom: 64px

    // Section Title
    +e('title')
        // Spacing
        margin-top: 0px
        margin-bottom: 48px
        // Styles & Alignment
        font-family: $heading
        font-weight: 700
        font-size: 32px
        text-align: center
        letter-spacing: 1px
        color: $primary-softgrey


    // Section List
    +e('list')
        // Clear List Defaults
        +r_list
        // Display Model
        display: flex
        flex-wrap: wrap
        justify-content: center
        // Spacing
        margin-bottom: 48px
        
        // Modify Display on larger screens
        @media only screen and (min-width: 1200px)
            align-items: stretch


    // Section List Item
    +e('item')
        // Box Model
        box-sizing: border-box
        // Flex Properties
        display: flex
        align-items: center
        // Sizing
        flex: 0 1 90%
        height: 150px
        // Spacing
        margin-left: 8px
        margin-right: 8px
        margin-bottom: 16px
        // Contain Link
        position: relative
        // Styles
        border: 1px solid $primary-lightgrey
        border-left: 4px solid $primary
        text-align: center

        // Modify Flex on larger screens
        @media only screen and (min-width: 1000px)
            flex: 0 1 67%


    // Section List Item Link
    +e('link')
        // Display Model
        display: flex
        // Fill Parent
        position: absolute
        top: 0
        left: 0
        // Sizing
        width: 100%
        height: 100%

        // Performant background color effect
        &:hover,
        &:focus,
        &:active
            &::before
                will-change: opacity
                opacity: 1

        // Use Psuedo-Element as background color change
        &::before
            // Render as block
            content: ''
            // Position
            position: absolute
            top: 0
            left: 0
            z-index: -1
            // Sizing
            width: 100%
            height: 100%
            // Styles
            background-color: $primary-lightgrey
            // Animation
            opacity: 0
            transition: opacity 166ms ease-in


    // Section List Item Image
    +e('image')
        // Box Model
        display: block
        // Spacing
        padding-right: 16px
        // Sizing
        width: auto
        height: 100%


    // Section List Item Date
    +e('date')
        // Box Model
        display: block
        // Flex Item cannot grow
        flex: 0
        // Spacing
        padding-right: 16px
        padding-left: 16px
        // Styles
        font-family: $heading
        font-size: 28px
        font-weight: 700
        color: $primary-softgrey

    
    // Section List Item Text
    +e('text')
        flex: 1
        // Styles
        font-family: $body
        font-weight: 400
        font-size: 21px
        text-align: center
        color: $primary-grey


// Section List Item Icon
.material-icons.events__icon
    // Box model
    display: block
    // Flex Item can Grow
    flex: 0
    // Spacing
    padding-right: 16px
    padding-left: 16px
    // Styles
    text-align: right
    font-size: 48px
    color: $primary-softgrey