// Footer Area
.footer
    // Sizing
    width: 100%
    // Spacing
    padding-top: 64px
    padding-bottom: 64px
    // Styling
    background-color: $black

    &::after
        content: ""
        display: table
        clear: both


    +e('section')
        box-sizing: border-box
        float: left
        width: 100%
        margin-bottom: 48px
        padding-left: 16px
        padding-right: 16px
        text-align: center

        @media only screen and (min-width: 640px)
            width: 33.3%
            margin-bottom: 0

    
    // Footer Lists
    +e('list')
        // Clear List Defaults
        +r_list

        display: inline-block
        overflow: hidden


    // Footer List Titles
    +e('title')
        // Spacing
        margin-top: 0
        margin-bottom: 32px
        // Styles
        font-family: $heading
        font-weight: 300
        font-size: 18px
        color: $primary-softgrey


    // Footer List Items
    +e('item')
        display: inline-block
        width: 100%


    // Footer List Items Link
    +e('link')
        // Sizing
        display: block
        padding: 16px
        // Styles
        font-family: $body
        font-weight: 400
        font-size: 14px
        text-decoration: none
        color: $primary-lightgrey

        &:hover,
        &:focus,
        &:active
            text-decoration: underline


    // Footer List Items Link Icon
    +e('icon')
        display: inline-block
        margin-right: 9px
        width: 14px
        height: 14px