.hours
    // Box Model
    display: flex
    flex-wrap: wrap
    // Contain SVG
    position: relative
    overflow: hidden
    // Spacing
    margin-top: 112px
    padding-top: 64px
    padding-bottom: 64px


    +e('title')
        // Spacing
        margin-top: 0
        margin-bottom: 48px
        // Styling
        font-family: $heading
        font-weight: 700
        font-size: 32px
        color: $primary-softgrey


    +e('image')
        flex: 50%


    +e('svg')
        position: absolute
        top: -10%
        left: -5%
        width: 150%
        height: 150%
        fill: $primary-softgrey


    +e('schedule')
        flex: 50%


    +e('weekdays')
        // Clear default spacings
        +r_marginpadding
        // Sizing
        display: block
        margin-left: auto
        margin-bottom: 16px
        // Styling
        font-family: $heading
        font-weight: 300
        font-size: 28px
        color: $primary-grey


    +e('time')
        // Spacing
        margin-left: auto
        margin-bottom: 48px
        // Sizing
        display: block
        // Styles
        font-family: $body
        font-weight: 400
        font-size: 18px
        color: $softblack