// Location Section Styles
.location
    // Fill Wrapper & Set Height
    width: 100%
    height: 640px
    // Contain Absolute Positioned Title
    position: relative
    
    
    // Location Title
    +e('title')
        // Clear Default Margins
        +r_marginpadding
        // Sizing
        box-sizing: border-box
        max-width: 50%
        // Spacing
        padding: 8px
        padding-right: 48px
        // Fill Parent
        position: absolute
        right: 0
        // Position Above Map
        z-index: 1
        // Styling
        font-family: $heading
        font-weight: 700
        font-size: 32px
        letter-spacing: 1px
        color: $primary-grey
        background-color: $primary-lightgrey


    // Location Map-Container Div
    +e('map')
        // Fill Parent
        width: 100%
        height: 100%
        // Position Behind Title
        position: relative
        z-index: 0